@charset "UTF-8";

/*Estlo para impressora*/

* {
    margin: 10px;
    padding: 10px;

}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.EduardoBerton.github.io';
}
article {
    text-align: justify;
    width: 100vw;
}